<!doctype html>
    <html>
        <head>
            <title>To Do</title>
            <meta charset='utf-8'>
            <link href='style.css' rel='stylesheet' type='text/css'>
        </head>
        <body>
            <div id='app' v-cloak>
                <header class='header'>
                    <h1>todos</h1>
                    <input type='text' v-model='newTodo' class='new-todo' placeholder='enter todo'  @keyup.enter='addTodo'>
                </header>

                <section class='main'>
                    <ul class='todo-list'>
                        <li :class='{ completed: todo.completed, editing: todo == editedTodo }' class='todo' v-for='todo in todos'>
                            <div class='view'>
                                <input class='toggle' type='checkbox' v-model='todo.completed'>
                                <label @dblclick='editTodo(todo)' >{{ todo.title }}</label>
                                <button @click='deleteTodo(todo)' class="destroy"></button>
                            </div>
                            <input @keyup.enter='saveEditedTodo(todo)' @blur='saveEditedTodo(todo)'  @keyup.esc='cancelEdit(todo)'  v-todo-focus='todo === editedTodo' class='edit' v-model='todo.title' type='text'>
                        </li>
                        
                    </ul>
                </section>

                <footer class='footer'>
                    <span class='todo-count'>
                        <strong>{{  }}</strong>
                    </span>

                </footer>

            </div>
            <script src='vue.js'></script>
            <script src='main.js'></script>
        </body>
    </html>
    